@font-face{
font-family: "LCD Solid";
src: url("LCD.ttf");

}


body{
	
		background-color: black;
	transition: all 1s allow-discrete;

}

.entity {
  display: block;
width: 102.857vh;
height: 90vh;

margin-left: auto;
margin-right: auto;
background-color: black;
}


.menu1{
background-image: var(--my-var);
background-repeat: no-repeat;
background-size: 100%;
width: 102.857vh;
height: 90vh;

margin-left: auto;
margin-right: auto;

transition: background-image 0.2s;

}




.thebutton5{
position: relative;
  display: block;
  margin-left: auto;
  width: 30vh;
	height: 10vh;
	top: -20vh;
	left: -34vh;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("000.png");
  z-index: 5;
background-color: transparent;


}

.thebutton5:hover{
position: relative;
  display: block;
  margin-left: auto;
  width: 30vh;
	height: 10vh;
	top: -20vh;
	left: -34vh;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("001.png");

  z-index: 5;



}





.textbox2{
position: relative;
margin-left: auto;
margin-right: auto;
width: 100.857vh;
height: 1vh;
	left: 1vh;
	top: 0vh;
	color: black;
-webkit-font-smoothing : none;
	font-family: LCD Solid;
font-smooth: never;

font-size: 3.5vh;
  font-weight: lighter;

}






.textbox{
position: relative;
margin-left: auto;
margin-right: auto;
width: 102.857vh;
height: 1vh;
	left: 38vh;
	top: 31vh;
	color: black;
-webkit-font-smoothing : none;
	font-family: LCD Solid;
font-smooth: never;

font-size: 3.5vh;
  font-weight: lighter;


}



.thebutton{
position: relative;
display: block;
margin-left: auto;
width: 40vh;
height: 30vh;
top: -40vh;
left: -3vh;
background-size: 100%;
background: transparent;

  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 5;

border: none;
  
}

.thebutton2{
position: relative;
display: block;
margin-left: auto;
width: 45vh;
height: 45vh;
top: -135vh;
left: -25vh;
background-size: 100%;
background: transparent;

  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 2;

border: none;
  
}

.thebutton3{
position: relative;
display: block;
margin-left: auto;
width: 45vh;
height: 45vh;
top: -180vh;
left: 25vh;
background-size: 100%;
background: transparent;

  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 2;

border: none;
}

.thebutton4{
position: relative;
display: block;
margin-left: auto;
width: 45vh;
height: 45vh;
top: -175vh;
left: -25vh;
background-size: 100%;
background: transparent;

  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 2;
border: none;

}

.musicplay{
position: relative;
  display: block;
  margin-left: auto;
  width: 6vh;
	height: 6vh;
	top: -205vh;
	left: -45vh;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("play.png");
  z-index: 5;
background-color: transparent;

}
.musicplay:hover{
position: relative;
  display: block;
  margin-left: auto;
  width: 7vh;
	height: 7vh;
	top: -205vh;
	left: -45vh;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("play.png");
  z-index: 5;
background-color: transparent;

}

.musicpause{
position: relative;
  display: block;
  margin-left: auto;
  width: 6vh;
	height: 6vh;
	top: -211vh;
	left: -38vh;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("pause.png");
  z-index: 5;
background-color: transparent;

}
.musicpause:hover{
position: relative;
  display: block;
  margin-left: auto;
  width: 7vh;
	height: 7vh;
	top: -211vh;
	left: -38vh;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("pause.png");
  z-index: 5;
background-color: transparent;

}
.musicstop{
position: relative;
  display: block;
  margin-left: auto;
  width: 6vh;
	height: 6vh;
	top: -217vh;
	left: -31vh;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("stop.png");
  z-index: 5;
background-color: transparent;

}
.musicstop:hover{
position: relative;
  display: block;
  margin-left: auto;
  width: 7vh;
	height: 7vh;
	top: -217vh;
	left: -31vh;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("stop.png");
  z-index: 5;
background-color: transparent;

}
.musicback{
position: relative;
  display: block;
  margin-left: auto;
  width: 6vh;
	height: 6vh;
	top: -229vh;
	left: -24vh;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("back.png");
  z-index: 5;
background-color: transparent;

}
.musicback:hover{
position: relative;
  display: block;
  margin-left: auto;
  width: 7vh;
	height: 7vh;
	top: -229vh;
	left: -24vh;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("back.png");
  z-index: 5;
background-color: transparent;

}


.musicnext{
position: relative;
  display: block;
  margin-left: auto;
  width: 6vh;
	height: 6vh;
	top: -223vh;
	left: -17vh;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("next.png");
  z-index: 5;
background-color: transparent;

}
.musicnext:hover{
position: relative;
  display: block;
  margin-left: auto;
  width: 7vh;
	height: 7vh;
	top: -223vh;
	left: -17vh;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("next.png");
  z-index: 5;
background-color: transparent;

}