@font-face{
font-family: "LCD Solid";
src: url("LCD.ttf");

}


body{
	
		background-color: black;
	transition: all 1s allow-discrete;

}

.entity {
  display: block;
width: 100vw;
height: 0;

margin-left: auto;
margin-right: auto;
}


.menu1{
background-image: var(--my-var);
background-repeat: no-repeat;
background-size: 100%;
width: 100vw;
height: 90vw;

margin-left: auto;
margin-right: auto;

transition: background-image 0.2s;

}







.thebutton{
position: absolute;
display: block;
margin-left: auto;
width: 30vw;
height: 20vw;
top: 70vw;
left: 35vw;
background-size: 100%;


  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 5;

border: none;
background-color: transparent;
}

.thebutton2{
position: relative;
display: block;
margin-left: auto;
width: 45vw;
height: 40vw;
top: -105vw;
left: -25vw;
background-size: 100%;
background-color: transparent;

  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 2;

border: none;
  
}

.thebutton3{
position: relative;
display: block;
margin-left: auto;
width: 45vw;
height: 40vw;
top: -145vw;
left: 25vw;
background-size: 100%;
background-color: transparent;

  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 2;

border: none;
}

.thebutton4{
position: relative;
display: block;
margin-left: auto;
width: 45vw;
height: 40vw;
top: -135vw;
left: -25vw;
background-size: 100%;
background-color: transparent;

  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 2;
border: none;

}
.thebutton5{
position: relative;
  display: block;
  margin-left: auto;
  width: 30vw;
	height: 10vw;
	top: -25vw;
	left: -34vw;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("000.png");
  z-index: 5;
background-color: transparent;


}

.thebutton5:hover{
position: relative;
  display: block;
  margin-left: auto;
  width: 30vw;
	height: 10vw;
	top: -25vw;
	left: -34vw;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("001.png");

  z-index: 5;



}





.textbox2{
position: relative;
margin-left: auto;
margin-right: auto;
width: 100vw;
height: 1vw;
	left: 1vw;
	top: 0vw;
	color: black;
-webkit-font-smoothing : none;
	font-family: LCD Solid;
font-smooth: never;

font-size: 3.4vw;
  font-weight: lighter;

}






.textbox{
position: relative;
margin-left: auto;
margin-right: auto;
width: 100vw;
height: 1vw;
	left: 38vw;
	top: 30vw;
	color: black;
-webkit-font-smoothing : none;
	font-family: LCD Solid;
font-smooth: never;

font-size: 3.4vw;
  font-weight: lighter;


}


.musicplay{
position: absolute;
  display: block;
  margin-left: auto;
  width: 5vw;
	height: 5vw;
	top: 72vw;
	left: 3vw;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("play.png");
  z-index: 5;
background-color: transparent;

}
.musicplay:hover{
position: absolute;
  display: block;
  margin-left: auto;
  width: 6vw;
	height: 6vw;
	top: 72vw;
	left: 3vw;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("play.png");
  z-index: 5;
background-color: transparent;

}

.musicpause{
position: absolute;
  display: block;
  margin-left: auto;
  width: 5vw;
	height: 5vw;
	top: 72vw;
	left: 9vw;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("pause.png");
  z-index: 5;
background-color: transparent;

}
.musicpause:hover{
position: absolute;
  display: block;
  margin-left: auto;
  width: 6vw;
	height: 6vw;
	top: 72vw;
	left: 9vw;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("pause.png");
  z-index: 5;
background-color: transparent;

}
.musicstop{
position: absolute;
  display: block;
  margin-left: auto;
  width: 5vw;
	height: 5vw;
	top: 72vw;
	left: 15vw;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("stop.png");
  z-index: 5;
background-color: transparent;

}
.musicstop:hover{
position: absolute;
  display: block;
  margin-left: auto;
  width: 6vw;
	height: 6vw;
	top: 72vw;
	left: 15vw;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("stop.png");
  z-index: 5;
background-color: transparent;

}
.musicback{
position: absolute;
  display: block;
  margin-left: auto;
  width: 5vw;
	height: 5vw;
	top: 72vw;
	left: 21vw;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("back.png");
  z-index: 5;
background-color: transparent;

}
.musicback:hover{
position: absolute;
  display: block;
  margin-left: auto;
  width: 6vw;
	height: 6vw;
	top: 72vw;
	left: 21vw;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("back.png");
  z-index: 5;
background-color: transparent;

}


.musicnext{
position: absolute;
  display: block;
  margin-left: auto;
  width: 5vw;
	height: 5vw;
	top: 72vw;
	left: 27vw;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("next.png");
  z-index: 5;
background-color: transparent;

}
.musicnext:hover{
position: absolute;
  display: block;
  margin-left: auto;
  width: 6vw;
	height: 6vw;
	top: 72vw;
	left: 27vw;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
    border: none !important;
	transition: background-image 0.2s ease-in-out;
	background-image: url("next.png");
  z-index: 5;
background-color: transparent;

}